// BOOTSTRAP AND CUSTOM
@import "custom";

//MEDIA QUERY FOR CONTAINER
@media only screen and (min-width: 1280px){
    .container {
        min-width: 1200px;
    }
}

//MEDIA QUERY FOR INTRO SECTION
//navbar
@media only screen and (min-width: 992px){
    .navbar-desktop{
        background: transparent;
        position: absolute;
        width: 100%;

        .nav-link{
            color: $white !important;
        }
        .help-line-box{

            .help-info{
                p{
                    color: $white;
                }
                h6{
                    color: $white;
                }
            }
        }
    }
}