// BOOTSTRAP AND CUSTOM
@use "../custom" as *;

// IMPORT THE TYPOGRAPHY COMPONENTS
@use "../components/typography" as *;

// IMPORT THE MIXINS COMPONENTS
@use "../components/mixins" as *;

// IMPORT THE EXTENDS COMPONENTS
@use "../components/extend" as *;

// IMPORT THE GLOBAL COMPONENTS
@use "../components/global-style" as *;

// IMPORT THE BUTTONS COMPONENTS
@use "../components/buttons" as *;


/* HEADER SECTION START */
//header top
.header-top{
    background: $black;
    padding: 0.5rem 0rem;

    .header-socials-box{
        display: flex;
        padding: 0;
        margin-bottom: 0;
        
        li{
            font-size: 0.9rem;
            list-style: none;
            padding: 0rem 0.8rem;

        //    &:first-child{
        //         padding-left: 0rem;
        //    }
        }
    }
    .header-top-menu{
        @extend.header-socials-box;

        li{
        //     &:last-child{
        //         padding-right: 0rem;
        //    }

            a{
                color: $white-light-color;
                font-size: 0.9rem;
                text-decoration: none;
            }
        }
    }
}
//Navigation Bar
.navbar{
    padding: 1rem 0rem !important;
    
    .main-menu{

        .navbar-nav{
    
            .nav-item{
    
                .nav-link{
                    font-size: 0.93rem;
                    padding-left: 0.9rem;
                    padding-right: 0.9rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover{
                        color: $primary !important;
                    }
                }
            }
        }
    
        .help-line-box{
            display: flex;
            align-items: center;
    
            .help-icon{
                padding: 0.8rem;
    
                span{
                    color: $primary;
                    font-size: 1.8rem;
                }
            }
            .help-info{
                p{
                    font-size: 0.9rem;
                    margin-bottom: 0;
                }
                h6{
                    font-size: 1.25rem;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }
    }
}









// MEDIA QUERY FOR ALL DEVICES

// For X-small devices
@include media-breakpoint-down(lg){
    header{

        .navbar{
            .navbar-toggler{
                color: $primary;
                border-color: $primary;

                .navbar-toggler-icon{
                    
                }
            }

            .main-menu{
                margin-top: 2rem;

                .nav-item{

                    .nav-link{
                        border-bottom: 1px solid $theme-gray;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}


