// BOOTSTRAP AND CUSTOM
@use "../custom" as *;

// IMPORT THE TYPOGRAPHY COMPONENTS
@use "../components/typography" as *;

// IMPORT THE MIXINS COMPONENTS
@use "../components/mixins" as *;

// IMPORT THE EXTENDS COMPONENTS
@use "../components/extend" as *;

// IMPORT THE GLOBAL COMPONENTS
@use "../components/global-style" as *;

// IMPORT THE BUTTONS COMPONENTS
@use "../components/buttons" as *;


// NEWS SECTION STYLE START
.news-section{
    @include section-padding();
    background: $white;

    .news-item-box{
        position: relative;
        border-color: $bg-color-2;
        border-radius: 0.2rem;

        .news-body{
            background: $bg-color-2;
            padding: 2rem 2.5rem;

            .news-date-box{
                color: $white;
                background: $primary;
                text-align: center;
                border-radius: 0.2rem;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                margin: 1.5rem;


                .news-date-number{
                    width: 100%;
                    font-size: 1.8rem;
                    font-weight: 700;
                    padding: 0rem 0.7rem;
                    margin-bottom: 0rem;
                }
                .news-date-month{
                    width: 100%;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    padding: 0.2rem 0.7rem;
                    background: #D29530;
                    border-radius: 0rem 0rem 0.2rem 0.2rem;
                }
            }
            .news-category{
                color: $primary;
                font-size: 0.7125rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                padding-bottom: 0.8125rem;
                display: inline-block;
            }
            .news-title{

                a{
                    color: $black;
                    font-size: 1.375rem;
                    text-decoration: none;
                }
            }
            .news-text{

            }
            .news-author{
                font-size: 0.6125rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-weight: 500;
            }
        }
    }
}



// MEDIA QUERY FOR ALL DEVICE
// For Small Device
@include media-breakpoint-down(md){
    .news-section{
        padding: 2.5rem 0rem;

        .news-item-box{

            .news-body{
                padding: 1.8rem;

                .news-date-box{
                    margin: 1.2rem;
                }
            }
        }
    }
}

// For Mobile Device
@include media-breakpoint-down(sm){
    .news-section{
        padding: 3.5rem 0rem;

        .news-item-box{

            .news-body{
                padding: 1.5rem;

                .news-date-box{
                    margin: 1rem;
                }
            }
        }
    }
}